<h1>Approve Videos</h1>
<p><%= pluralize(Video.pending_video_ids.size, 'video') %> in queue.</p>

<% if @videos.present? %>
  <div class='videos masonry'>
    <% @videos.each do |video| %>
      <div class='masonry-brick video'>
        <video poster='<%= video.thumbnail_url %>' preload='none' controls>
          <source src='<%= video.url %>'>
        </video>
        <div class='description'><%= video.description %></div>
        <% if video.creator_url %>
          <div class='creator'><%= link_to 'Creator', video.creator_url %></div>
        <% end %>
        <% if video.info_url %>
          <div class='info'><%= link_to 'Info', video.info_url %></div>
        <% end %>
        <form class='video-approval-form form form-inline'>
          <% video.ratings.each do |rating| %>
            <div class='rating <%= cycle('rating-odd', 'rating-even') %>'>
              <label><%= rating[:title] %>:</label>
              <% rating[:values].each_with_index do |value, index| %>
                <label for='video_<%= video.id %>_rating_<%= rating[:name] %>_<%= index %>' class='radio'>
                  <%= radio_button_tag "video[rating[#{rating[:name]}]]", index, false, :id => "video_#{video.id}_rating_#{rating[:name]}_#{index}" %>
                  <%= value %>
                </label>
              <% end %>
            </div>
          <% end %>
          <div class='form-group'>
            <%= text_field_tag 'video[tags]', nil, :placeholder => 'Tags' %>
          </div>
          <div class='form-group'>
            <button type='submit' class='btn pull-left'>Approve</button>
            <button type='button' class='btn pull-right hold-button'>Hold</button>
          </div>
          <div class='clearfix'></div>
          <div class='reject-reasons'>
            <div class='form-group-title'>Reject</div>
            <div>
              <%= text_area_tag 'video[message_to_user]', nil, :placeholder => 'Custom Message To User' %>
            </div>
            <% video.reject_reasons.each do |reject_reason| %>
              <div class='reject-button-container'>
                <%= button_tag reject_reason[:title], :class => 'btn reject-button', 'data-reject-reason-id' => reject_reason[:id] %>
              </div>
            <% end %>
            <div class='reject-button-container'>
              <button type='button' class='btn reject-button'>Censor</button>
            </div>
          </div>
        </form>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No videos to approve.</p>
  <p><%= link_to 'Look Again', nil %></p>
<% end %>

<%
@content_for_jquery = <<-JS
  $('.videos').masonry({
    columnWidth: 390,
    gutter: 10,
    itemSelector: '.video' });

  var updateVideo = function(form, action) {
    console.log($(form).serialize(), action);
  };

  var rejectVideo = function(form, rejectReasonId) {
    // For censor, rejectReasonId will be null/undefined.
    console.log($(form).serialize(), 'reject', rejectReasonId);
  };

  $(document).on('submit', '.video-approval-form', function(event) {
    event.preventDefault();
    updateVideo(this, 'approve');
  });

  $(document).on('click', '.hold-button', function(event) {
    event.preventDefault();
    updateVideo($(this).closest('.video-approval-form'), 'hold');
  });

  $(document).on('click', '.reject-button', function(event) {
    event.preventDefault();
    var rejectReasonId = $(this).attr('data-reject-reason-id');
    console.log(event, 'rejectReasonId', rejectReasonId);
    rejectVideo($(this).closest('.video-approval-form'), rejectReasonId);
  });
JS

%>