<!DOCTYPE html>
<html>
<head>
  <title>Perceptual Networks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>

  <% if defined? @content_for_css %>
  <style type="text/css">
  <%= @content_for_css %>
  </style>
  <% end %>

</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
          <%= render 'layouts/navigation' %>
        <div class="nav-collapse">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <% flash.each do |type, msg| %>
    <div id="flash_<%= type %>" class="flash"><%=msg%></div>
  <% end %>

  <div id="main" class="container <%= params[:controller] %>_controller <%= params[:action] %>_action">
    <%= yield %>
  </div>

  <div id="footer" class="container">
    <%#= render 'layouts/footer' %>
  </div>

  <div id="copyright" class="container">
    &copy 2013 Perceptual Networks, Inc.
  </div>

</div>

</body>

  <%= javascript_include_tag "application" %>

  <% if defined?(@content_for_jquery) or defined?(@content_for_javascript)%>
<script type="text/javascript">
jQuery(document).ready(function() {
<%== @content_for_jquery %>
});

<%== @content_for_javascript %>
</script>
  <% end %>

</html>
